:root {
    --opacgreen: #63b012;
    --white: #fff;
    --darkgreen: #144a32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/************** HOMEPAGE **************/
#homepage {
    background-color: var(--opacgreen);
    color: var(--white);
    height: 100vh;
}

#homepage .logo-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 0;
}
#homepage .logo {
    height: 100px;
}
#homepage .logo img {
    height: 100%;
}
#homepage .contact {
    display: flex;
}
#homepage .contact .location,
#homepage .contact .telephone {
    display: flex;
    margin-left: 50px;
}
#homepage .location > span,
#homepage .telephone > span {
    line-height: 5rem;
    font-size: 3rem;
    padding-right: 10px;
}
#homepage .location p,
#homepage .telephone p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
}
#homepage .telephone p > span {
    color: var(--darkgreen);
}

.main-menu {
    height: calc(100vh - 160px);
    margin: 30px 0;
}
.main-menu .row {
    height: 100%;
    align-items: center;
}
.main-menu .main-img,
.main-menu .carousel,
.main-menu .carousel-inner {
    height: 100%;
}
.main-menu .main-img .carousel-item {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.main-menu .main-content ul li {
    margin: 10px 0;
}
.main-menu .main-content ul li i {
    color: var(--darkgreen);
}
.main-menu .main-content ul li a {
    display: inline-block;
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 2.2rem;
    border: 1px solid rgba(255,255,255,.5);
    padding: 8px 20px;
    border-radius: 3px;
}

@media screen and (max-width: 992px){
    #homepage {
        height: auto;
    }
    #homepage .logo-contact {
        height: auto;
        flex-direction: column;
    }
    #homepage .contact .location,
    #homepage .contact .telephone {
        margin: 10px 30px;
    }

    .main-menu .row .col-lg-7 {
        order: 2;
    }
    .main-menu .main-img {
        padding-bottom: 30px;
    }
    .main-menu .main-content {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 567px){
    #homepage .logo {
        height: 80px;
    }
    #homepage .contact {
        flex-direction: column;
        padding-top: 10px;
    }

    .main-menu {
        margin: 0;
    }
}



/************** HEADER SECTION **************/
header {
    background-color: var(--opacgreen);
    height: 100px;
    line-height: 100px;
    position: sticky;
    top: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.header .about-logo {
    height: 80px;
}
.header .about-logo img {
    height: 100%;
}
.about-menu ul {
    display: flex;
    gap: 20px;
}
.about-menu ul li a {
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 3px; 
    transition: 0.5s;
}
.menus, .menu-close {
    display: none;
}
.menus i, .menu-close i{
    font-size: 32px;
    color: var(--white);
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .header .about-logo img {
        height: auto;
        width: 150px;
    }
    .menus {
        display: block;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--darkgreen);
        color: white;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        margin: 50px 40px 0;
    }
    .nav-list li {
        height: 30px;
    }
    .about-menu ul li a {
        font-size: 1.6rem;
        transition: 0.5s;
    }
    .menu-close {
        display: block;
        position: absolute;
        right: 24px;
        top: 0;
        font-size: 1.5rem;
    }
    .show {
        right: 0;
    }
}



/************** FOOTER SECTION **************/
footer {
    height: auto;
    margin-top: 50px;
    padding: 30px 0;
    background-color: var(--opacgreen);
    color: var(--white);
    font-size: 1.6rem;
}
footer .about-logo {
    padding: 10px 0;
    height: 120px;
}
footer .about-logo img {
    height: 100%;
}
footer h3 {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 20px 0;
}
footer li {
    line-height: 2.6rem;
}
footer .social-links i {
    font-size: 2.5rem;
    color: var(--white);
    transition: all 0.5s;
}
footer .social-links i:hover {
    color: var(--darkgreen);
}
footer .copyright {
    border-top: 1px solid rgba(255,255,255,.5);
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
}
footer .copyright a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
}

@media screen and (max-width: 992px) {
    footer .about-logo {
        height: 100px;
    }
}



/************** ABOUT PAGE **************/
.mis-vis {
    margin: 50px 0;
    font-size: 1.6rem;
}
.mis-vis h3 {
    font-weight: 700;
    font-size: 2.6rem;
    color: var(--opacgreen);
}
.mis-vis .our-mis-vis h4 {
    color: var(--opacgreen);
    font-weight: 500;
    font-size: 2.4rem;
}

.about-info {
    margin: 50px 0;
}
.about-info p {
    font-size: 1.6rem;
    text-align: justify;
    margin-right: 10px;
}
.about-info img {
    width: calc(100% - 30px);
    margin: 10px 10px 10px 20px;
}

.about-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    color: var(--opacgreen);
    background-color: var(--darkgreen);
}
.about-counter h3 {
    color: var(--white);
}
.zero {
    text-align: center;
    font-weight: 900;
    font-size: 70px;
}
.counter {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}





@media screen and (max-width: 992px){
    .about-info {
        flex-direction: column-reverse;
    }
    .zero {
        font-size: 40px;
    }
    .mis-vis {
        flex-direction: column;
    }
    .our-mis-vis {
        width: 100%;
    }
}
@media screen and (max-width: 435px) {
    .zero {
        font-size: 25px;
    }
}